/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #fff;
    font-size: .85em;
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: #000;
    min-height: 100%;
}

a:link, span.add {
    color: #050528;
    text-decoration: none;
    cursor: pointer;
}

a:visited, span.add:visited {
    color: #050528;
}

a:hover, span.add:hover {
    color: #050528;
    text-decoration: underline;
}

a:active, span.add:active {
    color: #050528;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

.clear {
    clear: both;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 1100px;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#banner {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 20px;
    background: #050528;
    width: 100%;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 3.0em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #050528;
}

#main 
{
    width: 1100px;
    float: left;
    padding: 0;
}

footer, 
#footer {
    color: #999;
    height: 30px;
}


#selector-container, #playlist-container
{
    width: 760px;
    float: left;
    background-color: #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0;
    padding: 15px;
}

#playlist-container
{
    width: 270px;
    margin: 100px 0 0 0;
    padding: 15px 0 15px 15px;
    min-height: 50px;
}

#selector-container
{
    float: right;
    min-height: 500px;
}

#ticker
{
    float: left;
    display: none;
}

#artists-index
{
    margin: 0 auto;
    padding: 10px 0 50px 0;
    width: 740px;
}

#artists-index li
{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 9px;
    font-size: 1.6em;
    font-weight: bold;
}

#playlist
{
    float: left;
    width: 255px;
    margin: 10px 0 0 0;
    padding: 0;
}

#playlist li
{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#playlist li .title
{
    font-weight: bold;
}

#artists
{
    float: left;
    width: 200px;
    margin: 0;
    padding: 0;
}

#artists li
{
    list-style-type: none;
    margin: 10px 0 0 10px;
    padding: 0;
}

#albums
{
    float: left;
    width: 520px;
    margin: 0 0 0 -1px;
    padding: 0 0 0 20px;
}

#albums li
{
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0 0 20px 0;
    float: left;
}

#albums li img.album-cover
{
    height: 150px;
    width: 150px;
    float: left;
}

#albums li ul.tracks
{
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    float: left;
    width: 340px;
}

#albums li ul.tracks li
{
    margin: 5px 0 0 5px;
    padding: 0;
    border: 0;
    float: none;
}

#albums li ul.tracks li span.album-name
{
    font-size: 1.2em;
    font-weight: bold;
}