<!DOCTYPE html>
<html>
<head>
    <title>Jukebox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/jquery.min.js")"></script>
</head>
<body>
    <div class="page">
        <h1><a href="/">JukeBox</a></h1>
        <div id="main">
            @RenderBody()       
        </div>
        <div class="clear"></div>
    </div>
    <div id="banner">
    </div>
</body>
</html>
